wa-page {
    --menu-width: 15rem;
    --aside-width: 15rem;
}

wa-page[view='desktop'] [data-toggle-nav] {
    display: none;
}

wa-page[view='mobile'] {
    --menu-width: auto;
    --aside-width: auto;
}

wa-page[view='mobile'] [slot='aside'],
wa-page[view='mobile'] #brand-name,
wa-page[view='mobile'] #search {
    display: none;
}

[slot='banner'] {
    --wa-color-text-link: var(--wa-color-neutral-on-loud);
    background-color: var(--wa-color-neutral-fill-loud);
    color: var(--solarized-base2);
}

header {
    background-color: var(--wa-color-orange-50);
    color: var(--wa-color-gray-95);
}

[slot='header'] {
    --wa-link-decoration-default: none;
    border-block-end: var(--wa-border-width-s) var(--wa-border-style) var(--wa-color-surface-border);
    /*background-color: var(--wa-color-orange-50);
    color: var(--wa-color-gray-95);*/
}

[slot*='header'] a {
    font-weight: var(--wa-font-weight-action);
    color: var(--wa-color-gray-95);
}

[slot*='header'] wa-icon {
    color: var(--solarized-base2);
    font-size: 1.5em;
}

[slot='subheader'] {
    background-color: var(--wa-color-surface-lowered);
    border-block-end: var(--wa-border-width-s) var(--wa-border-style) var(--wa-color-surface-border);
}

[slot='navigation-header'] {
    border-block-end: var(--wa-border-width-s) var(--wa-border-style) var(--wa-color-surface-border);
}

[slot='navigation'] h2 {
    font-size: var(--wa-font-size-m);
    color: var(--wa-color-text-quiet);
    margin: 0;
}
[slot='navigation'] h2:not(:first-child) {
    margin-block-start: var(--wa-space-xs);
}

wa-page[view='desktop'] [slot*='navigation'] {
    border-inline-end: var(--wa-border-width-s) var(--wa-border-style) var(--wa-color-surface-border);
}

[slot*='navigation'] a {
    --wa-color-text-link: var(--wa-color-text-normal);
}

[slot='navigation-footer'] {
    border-block-start: var(--wa-border-width-s) var(--wa-border-style) var(--wa-color-surface-border);
}

[slot='main-header'],
main,
[slot='main-footer'] {
    max-inline-size: 60rem;
    margin-inline: auto;
}

[slot='main-footer'] {
    border-block-start: var(--wa-border-width-s) var(--wa-border-style) var(--wa-color-surface-border);
}

[slot='footer'] {
    --wa-color-text-link: var(--wa-color-text-quiet);
    background-color: var(--wa-color-surface-lowered);
    font-size: var(--wa-font-size-s);
}

[slot='aside'] .card-image {
    max-width: 300px;
}

[slot='aside'] .card-header {
    max-width: 300px;
}

[slot='aside'] .card-header [slot='header'] {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

[slot='aside'] .card-header h3 {
    margin: 0;
}

[slot='aside'] .card-header wa-icon-button {
    font-size: var(--wa-font-size-m);
}
